.card__list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 18px;
  margin-bottom: 34px;
}

.card {
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
}

.card__img {
  order: -1;
  grid-column: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__img:hover {
  opacity: 60%;
}

.card__img:focus {
  outline: solid 3px #83B3D3;
}

.card__description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 26px;
  grid-column: 1 / -1;
}

.card__link {
  color: #000000;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  text-decoration: none;
}

.card__title {
  grid-column: 1 / -1;
}

.card__rate {
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  padding-top: 9px;
  padding-bottom: 10px;
  border-radius: 4px;
  background-color: #F2F2F2;
  text-align: center;

}

.star--four {
  background-image: url("/img/four-stars.svg");
  background-repeat: no-repeat;
}

.star--three {
  background-image: url("/img/three-stars.svg");
  background-repeat: no-repeat;
}

.star--two {
  background-image: url("/img/two-stars.svg");
  background-repeat: no-repeat;
}
